@charset "UTF-8";

.container {
  display: grid;
  place-content: center;
}

.box {
  width: 200px;
  height: 200px;
  background-color: #a0d8ef;
  text-align: center;
  line-height: 200px;
  vertical-align: middle;

  animation-name: flashing;
  animation-duration: 2.4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes flashing {
  0% {
    background-color: #a0d8ef;
  }

  50% {
    background-color: #0095d9;
  }
  
  100% {
    background-color: #a0d8ef;
  }
}
